.generalContainerRegistration {
  flex-direction: row;
  display: flex;
}
.regContainer {
  align-items: center;

  display: flex;
  flex-direction: column;
  width: 50%;
}
form {
  text-align: center;
}
.inputRegistration {
  border-radius: 5px;
  margin-bottom: 1.5%;
  margin-top: 1.5%;
  padding: 5px;
  width: 80%;
}
.inputRegistration::-webkit-input-placeholder {
  text-align: center;
  line-height: 100px; /* Centrado vertical */
}
.button {
  margin-bottom: 5%;
}
.hobbieImageContainer {
  width: 50%;
}
.hobbieImageContainer img{
    width: 100%;
    height: 100%;
}
.hobbieImageContainer a{
    color: gray;
    float: right;
    font-size: 10px;
    text-decoration: none;
}
.hobbieImageContainer a:hover{
    color: blue;
}